// Colors
$background: #181719;
$white: #ffffff;
$subtitle: #828282;
$user: #a9a9a9;

// Fonts
$f-500: 500;
$f-400: 400;
$f-200: 200;
$f-700: 700;

// Typography

$f-link: 'Crimson Pro', serif;
$f-title: 'Lora', serif;
$f-body: 'Montserrat', sans-serif;
